networks:
    cluster:
        name: cluster
        external: true
        driver: bridge

volumes:
    mysql_data:
        driver: local

services:
    app:
        command: sh -c "php artisan octane:start --server=swoole --host=0.0.0.0 --port=8000 & php artisan schedule:work"
        container_name: apptestovoe
        build: ./docker/images/php81
        volumes:
            - ./application:/app
        ports:
            - "6969:8000"
        networks:
            - cluster
        depends_on:
            -   testovoe


    testovoe:
        container_name: testovoe
        image: mysql:8.0
        restart: always
        environment:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: testovoe
        ports:
            - "3307:3307"
        volumes:
            - mysql_data:/var/lib/mysql
        command: --default-authentication-plugin=mysql_native_password --port=3307
        networks:
            - cluster